
<!DOCTYPE html><html><head>
<meta charset="utf-8"/>
<link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css"/>
<script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
<style>body{font-family:Arial}#map{height:500px}form{margin-bottom:10px}</style>
</head><body>
<form action="/add" method="post">
<input name="name" placeholder="Ім'я">
<input name="phone" placeholder="Телефон">
<input name="address" placeholder="Адреса" size="40">
<input name="comment" placeholder="Коментар">
<button>Додати</button>
</form>
<div id="map"></div>
<script>
var map=L.map('map').setView([50.45,30.52],6);
L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png',{maxZoom:19}).addTo(map);
fetch('/markers').then(r=>r.json()).then(d=>{
d.forEach(x=>{
L.marker([x.lat,x.lon]).addTo(map)
.bindPopup("<b>"+x.name+"</b><br>"+x.address+"<br>"+x.phone+"<br>"+x.comment);
});
});
</script>
</body></html>
